body { padding-top: 70px; }

.container {
  margin: 20px auto;
  padding: 0px 20px 20px 20px;
}

.icon-heart {
  color: #FF5291;
  position: relative;
  bottom: 4px;
  margin: 2px;
}

.navbar-brand a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.color-splotch {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.chart-label {
  display: inline-block;
}
#questionDisplay {
  float: left;
}

#survey-buttons:focus,
#submit-buttons:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#survey-buttons:hover,
#survey-buttons:focus,
#submit-buttons:hover,
#submit-buttons:focus {
  background-color: #ddd;
  text-decoration: none;
}

#survey-buttons,
#submit-buttons {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-color: #ddd;
}

#break {
  padding-bottom: 30px;
  margin: 0, 0, 10px, 0;
}
