!!!
%html
  %head
    %title

    %link(rel='stylesheet' href='/css/bootstrap.css')
    %link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
    %link(rel='stylesheet' href='/css/application.css')
    %script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

    %script(src="/js/bootstrap.js")
    %script(src="/js/application.js")

  %body


    %nav.navbar.navbar-inverse.navbar-fixed_top
      .navbar-header.navbar-brand
        %a{ href: '/' }= "Survey Bab<i class='icon-heart icon-large icon-flip-vertical'></i>n"
      %ul.nav.navbar-nav
        - if current_user
          %li
            %a.sign-out{ href: "/sessions/delete" }
              Sign Out
        - else
          %li
            %a{ href: "/sessions/new" } Sign In
          %li
            %a{ href: "/users/new" } Sign Up

    .row.content
      - if @errors.try(:any?)
        - @errors.each do |error|
          - @error = error
          = haml :_message

    = yield
