.container.well
  %h1 New Survey!
  %p Fill this form to create a survey.

  - if @error_messages != nil
    - @error_messages.each do |error_message|
      %div.alert.alert-danger= error_message
    

  %form#new-survey{ method: "post", action: "/protected/surveys" }

    %label{ for: "title" } Title
    %input#title.form-control{ type: "text", name: "survey[title]", placeholder: "My Survey" }
    %span.text_counter 25
    characters left
    %br

    %label{ for: "description" } Description
    %input#description.form-control{ type: "text", name: "survey[description]", placeholder: "10 up to 250 characters" }
    %span.text_counter 250
    characters left
    %br

    %hr

    %h3 Questions
    %div#question_board
      %div.question
        %hr
        %input.form-control{ type: "text", name: "questions[][content]", placeholder: "Your question?" }

        %h4 Choices
        %div.choice_board
          %div.choice
            %input.choice_input{ type: "text", name: "questions[][choices][]", placeholder: "Your question?" }
            %a.btn.btn-primary.add_choice{ href: '#', :style => "display:none"} +
            %hr

    %hr
    %a.btn.btn-primary.add_question{ href: '#'} Add a question
    %hr
    %br
    %input.btn.btn-success#submit{ type: "submit", value: "Submit", disabled: 'disabled'}

// -------------------------------------


%div#new_question{:style => "display: none" }
  %div.question
    %hr
    %input.form-control{ type: "text", name: "questions[][content]", placeholder: "Your question?" }

    %h4 Choices
    %div.choice_board
      %div.choice
        %input.choice_input{ type: "text", name: "questions[][choices][]", placeholder: "Your question?" }
        %a.btn.btn-primary.add_choice{ href: '#', :style => "display:none"} +
        %hr


%div#new_choice{:style => "display: none" }
  %div.choice
    %input.choice_input{ type: "text", name: "questions[][choices][]", placeholder: "Your question?" }
    %a.btn.btn-primary.add_choice{ href: '#', :style => "display:none"} +
    %a.btn.btn-danger.remove_choice{ href: '#'} -
    %hr