.container.well
  %h1 Surveys!
  %h2 Welcome #{@user.email}
  %dl.dl-horizontal
    - @surveys.each do |survey|
      %a{ href: "/protected/surveys/#{survey.id}/participation"}
        %dt.span9= survey.title
      %dd= survey.description


